.alertContainer {
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 1.25rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 4s ease forwards;
}

.message {
  background: var(--bg-secondary);
  color: var(--text-primary);
  padding: 1.25rem 2.5rem;
  border-radius: 0.31rem;
  box-shadow: 0 0 15px var(--shadow-overlay);
  text-align: center;
}

.error {
  background: var(--error);
}

.success {
  background: var(--success);
}

@keyframes slideDown {
  0% {
    transform: translateY(-1.25rem);
    opacity: 0;
  }

  10% {
    transform: translateY(1.25rem);
    opacity: 1;
  }

  90% {
    transform: translateY(1.25rem);
    opacity: 1;
  }

  100% {
    transform: translateY(1.25rem);
    opacity: 0;
  }
}
