.btn {
  background: #4d4d4d;
  margin-left: 1.25rem;
  border: none;
  border-radius: 0.925rem;
  color: #fff;
  min-height: 3rem;
  padding: 0.75rem 1rem;
  font-size: 1.15rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.icon {
  width: 1.25rem;
  height: auto;
}
