.button {
  background: #4d4d4d;
  width: auto;
  margin-left: 1rem;
  border: none;
  border-radius: 0.925rem;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  min-height: 3rem;
  padding: 0.75rem 1rem;
  font-size: 1.15rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  line-height: 1;
}

.button svg {
  height: 0.75rem;
  fill: #fff;
}

.primary {
  background: #5b69e2;
}

.withIcon {
  width: 15.62rem;
}

.largeIcon svg {
  height: 100%;
}
