.container {
  width: 100%;
  max-width: none;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  z-index: 100;
}

@media (max-width: 75rem) {
  .container {
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 60rem) {
  .container {
    height: auto;
    min-height: 100vh;
  }
}
