.selectContainer {
  background: #e8eff1;
  cursor: pointer;
  border-radius: 0.62rem;
  position: relative;
  height: 5rem;
  width: 40%;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease all;
}

.selectContainer:hover {
  background: #cbdde2;
}

.selectedOption {
  width: 100%;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.downIcon {
  width: 1.25rem;
  height: auto;
  margin-left: 1.25rem;
}

.options {
  background: #e8eff1;
  position: absolute;
  top: 5.62rem;
  left: 0;
  width: 100%;
  border-radius: 0.62rem;
  max-height: 18.75rem;
  overflow-y: auto;
  box-shadow: 0 0.31rem 0.93rem rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.option {
  width: 100%;
  padding: 1rem 1.25rem;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
}

.option:hover {
  background: #cbdde2;
}

.optionIcon {
  width: 1.75rem;
  height: auto;
  margin-right: 1rem;
}

@media (max-width: 60rem) {
  .selectContainer {
    width: 100%;
  }
}
